/*
    Name: Sarah Hagen
    Class Name: CPSC 332
    Assignment Name: Homework 3 - CSS
    Last Modified: 10/06/2022
*/

.intro {
    display: grid;
    grid-area: intro;
    grid-row: 3 / 4;
}

.interests {
    display: grid;
    grid-area: interests;
}

.education {
    display: grid;
    grid-area: edu;
}

.career {
    display: grid;
    grid-area: career;
}

.navigation {
    display: grid;
    grid-area: nav;
}

.profile {
    display: grid;
    grid-area: profile;
}

.interests ol {
    list-style: lower-alpha;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: grid;
    background-color:rgb(237, 222, 196);
    grid-template-areas:
        "nav nav nav"
        "profile core core"
        "profile career career"
        "profil edu edu"
        "profil interests interests";
}

.core h1, .career h1, .education h1, .interests h1 {
    margin-left: 10px;
}

h1 {
    font-style: italic;
}

#name {
    margin-right: 20px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#skateboard-image {
    width: 50px;
    height: 50px;
    border-radius: 10px
}

#intro-paragraph {
    margin-right: 10px;
    border-style: dotted;
    border-color: lightblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 10pt;
}

#skills {
    list-style: square;
    font-family: 'Courier New', Courier, monospace;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.work-table caption{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
    padding: 10px;
}

.work-table {
    padding: 10px;
    text-align: center;
    height: 200px;
    margin-left: 10px;
}

.work-table tbody:nth-child(odd) {
    background-color: azure;
}

.work-table tr:nth-child(even) {
    background-color: aquamarine;
}

.work-table thead:nth-child(even) {
    background-color: lightpink;
}

.edu-table caption{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
    text-align: center;
    padding: 10px;
}

.edu-table {
    padding: 10px;
    text-align: center;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.edu-table tbody:nth-child(odd) {
    background-color: lightcoral;
}

.edu-table tr:nth-child(even) {
    background-color: lightgray;
}

.edu-table thead:nth-child(even) {
    background-color: aliceblue;
}

.qualif-table caption{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkorchid;
    text-align: center;
    padding: 10px;
}

.qualif-table {
    padding: 10px;
    text-align: center;
    height: 200px;
    margin-left: 10px;
}

.qualif-table tbody:nth-child(odd) {
    background-color: lightsalmon;
}

.qualif-table tr:nth-child(even) {
    background-color: lightblue;
}

.qualif-table thead:nth-child(even) {
    background-color: aliceblue;
}